
@{
    ViewBag.Title = "التبرع بالدواء ";
}
<div class="container-fluid">
    <div class="jumbotron">

        <h1 id="headerOfDonatingMedicine" class="text-center text-info">التبرع بالدوء </h1>
        <h2 class="text-center">
            توفير الدواء “مجانا”..مبادرات لا حصر لها تطلقها الجمعيات الخيرية وغرف صناعة الدواء
        </h2>
        <h3 class="fi">
            يأتي توفير الدواء المجاني للمحتاجين وغير القادرين على رأس أولويات الجمعيات الأهلية وصناديق دعم الأدوية وغرف صناعة الدواء، حيث انطلقت العديد من المبادرات التي تؤتي ثمارها في توفير الدواء “مجانا” للأسر التي لم يشملها التأمين الصحي.

        </h3>
    </div>
</div>
